

.home{
    background: url("../../assets/images/quiz-app-bg.jpg");
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: cover; 
    min-height: 100vh;

}
.start{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.startbutton{
    width: 500px;
    height: 100px;
    display: inline-block;
    padding: 10px;
    background: linear-gradient(#0e0124,#22074d);
    border: 1px solid white;
    margin: 0 0.3em 0.3em 0;
    border-radius:15px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}
.startbutton:hover{
    /* color: white; */
    background: green;
}
@media all and (max-width:30em){
    .startbutton{
        display: block;
        margin: 0.4em auto;
    }
}